
<div class="container m-b-20 p-b-20">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-default">
                <div class="card-body">
                    @Html.Raw(ViewBag.Content)
                </div>
            </div>
        </div>
    </div>
</div>

