
<div class="container bg-white">
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-default">
                <div class="card-header separator cardheader">
                    <div class="card-title t1">테스트 정보</div>
                </div>
                <div class="card-body c1 apply">
                    <div class="row r1 h-px-30 toptit top-tit">
                        <div class="col-sm-3 info-tit"><strong>K-Auction.Token</strong></div>
                        <div class="col-sm-9 topdesc1">@ViewBag.Token</div>
                    </div>
                    <div class="row r1 h-px-30 toptit top-tit">
                        <div class="col-sm-3 info-tit"><strong>K-Auction.Keepup</strong></div>
                        <div class="col-sm-9 topdesc1">@ViewBag.Keepup</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>