
<style>
    .header,
    .footer,
    #alltop-btn {
        display: none !important;
    }
</style>

<div class="container">
    <h1>@ViewBag.aName</h1>
</div>


<script>
    @* var param = 
            {
                "auc_kind": 4,
                "auc_num": 306,
                "sort_column": "ARTIST"
            }
            $(".list-loading-ani").css("display", "flex");

            $.ajaxUtils.getApiData("/api/Auction/AuctionWorkArtists", { aritest_uid : '@ViewBag.aName'}, functin(r){

                console.log("result", r);
        }); *@
    
</script>