@model KA.Web.Admin.ViewModels.Main.TopNoticeViewModel

<div class="row">
    <div class="col-lg-12">
        <div class="card card-default">
            <div class="card-header "><div class="card-title">메뉴 관리 컨텐츠</div></div>
            <div class="card-body">
                <div class="row search-row">
                    <div class="col-lg-6 text-left"><label id="total-record"></label></div>
                    <div class="col-lg-6 text-right">
                        <div class="form-group">
                            <input id="search" onkeydown="checkSearch(event);" style="" class="form-control" type="text" placeholder="제목 검색어를 입력해 주세요." />
                            <span class="btn btn-primary" style="height: 35px; cursor: pointer;" onclick="search();">검색</span>
                            <span class="btn secondary fw-500" style="height: 35px; cursor: pointer;" onclick="window.open('/Main/ImageContent/0', '_self');">등록</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="nav nav-tabs w-100" style="margin: 0px 15px;">
                        <li class="nav-item">
                            <a onclick="getTabList('X');" class="nav-link active text-center" data-toggle="tab" href="#tab-mobile-auth">1구간</a>
                        </li>
                        <li class="nav-item">
                            <a onclick="getTabList('Y');" class="nav-link text-center" data-toggle="tab" href="#tab-address">2구간</a>
                        </li>
                        <li class="nav-item">
                            <a onclick="getTabList('Z');" class="nav-link text-center" data-toggle="tab" href="#tab-address">3구간</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body" id="current-banner-cont"></div>
                        </div>
                    </div>
                </div>
                <div class="row list-row">
                    <div class="data-grid" id="data-grid"></div>
                    <div class="dataTables_wrapper">
                        <div class="dataTables_paginate paging_full_numbers"><ul class="pagination"></ul></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const requestParam = {};
    requestParam["page"] = 1;
    requestParam["type"] = "X";

    $(document).ready(function () {
        getList();
    });

    function getTabList(type) {
        $("#current-banner-cont").empty();
        requestParam["type"] = type;
        getList();
    }

    function getList() {
        $.ajaxUtils.getApiData("/api/Main/GetNotices", requestParam, getListComplete);
    }

    function getListComplete(result) {
        $("#data-grid").jsGrid({
            autoload: true,
            controller: {
                loadData: function () {
                    var currentFlag = false;
                    if ($.ajaxUtils.getResultCode(result) === "00") {
                        if (result.data && result.data.data.length > 0) {
                            $.each(result.data.data, function (i, d) {
                                if (d.use_flag === 'A') {
                                    if (!currentFlag) {
                                        currentFlag = true;
                                        $("#current-banner-cont").append('<h5 class="card-title">[현재 설정된 관리 컨텐츠]</h5>');
                                    }

                                    let el = '<div class="row m-b-10">';
                                    el += '<div class="col-lg-2">';
                                    el += "<img src='@Config.ImageDomain/www/Notice/" + d.image + "' style='max-width: 150px; float: left; cursor: pointer;' onclick=\"window.open('/Main/ImageContent/" + d.uid + "', '_self');\" />";
                                    el += '</div>';
                                    el += '<div class="col-lg-10">';
                                    if (d.title_kr) {
                                        el += '<span>' + d.title_kr + '<span><br />';
                                    }
                                    if (d.sub_title_kr) {
                                        el += '<span>' + d.sub_title_kr + '<span><br />';
                                    }
                                    if (d.property_kr) {
                                        el += '<span>' + d.property_kr + '<span><br />';
                                    }
                                    if (d.link !== '') {
                                        el += '<a href="' + d.link + '" target="_blank">' + d.link + '</a><br />';
                                    }
                                    el += '<span>게시 기간: ' + d.start_date + ' ~ ' + d.end_date + '</span>';
                                    el += '</div>';
                                    el += '</div>';
                                    $("#current-banner-cont").append(el);
                                }
                            });
                        }
                        $('#total-record').html('총 ' + result.data.recordsTotal.toString() + '건');
                        $.paginationUtils.init({
                            target: $(".pagination"),
                            totalCount: result.data.recordsTotal,
                            parameters: requestParam,
                            callback: getList,
                            page: result.data.draw,
                            pageSize: 20
                        });
                        if (!currentFlag) {
                            $("#current-banner-cont").append('<h5 class="card-title">[현재 설정된 관리 컨텐츠가 없습니다.]</h5>');
                        }
                        return result.data.data;
                    } else {
                        if (!currentFlag) {
                            $("#current-banner-cont").append('<h5 class="card-title">[현재 설정된 관리 컨텐츠가 없습니다.]</h5>');
                        }
                        return null;
                    }
                }
            },
            fields: [
                {
                    name: "uid", type: "number", title: "번호", width: 50, align: "center",
                    itemTemplate: function (value) {
                        return $("<a />", { "href": "/Main/ImageContent/" + value.toString(), "target": "_self" }).append(value);
                    }
                },
                {
                    name: "use_flag", type: "text", title: "게시유형", width: 60, align: "center",
                    itemTemplate: function (value) {
                        return value === 'A' ? "<b>사용</b>" : "사용안함";
                    }
                },
                {
                    name: "title_kr", type: "text", title: "이미지", width: 220,
                    itemTemplate: function (value, data) {
                        return $("<img />", {
                            "src": "@Config.ImageDomain/www/Notice/" + data.image.toString(),
                            "style": "max-width: 200px;",
                            "onclick": "window.open('/Main/ImageContent/" + data.uid.toString() + "', '_self')"
                        });
                    }
                },
                { name: "link", type: "text", title: "링크", width: 160 },
                { name: "start_date", type: "text", title: "게시시작일", width: 120, align: "center" },
                { name: "end_date", type: "text", title: "게시종료일", width: 120, align: "center" },
                { name: "read_count", type: "number", title: "조회수", width: 60, align: "center" },
                { name: "reg_date", type: "text", title: "등록일", width: 100, align: "center" }
            ],
            noDataContent: "검색 결과가 없습니다.",
            loadMessage: "잠시만 기다려주세요...",
            loadIndication: true,
            loadIndicationDelay: 500,
            loadShading: true
        });
    }

    function checkSearch(event) {
        if (event.keyCode === 13) {
            search();
        }
    }

    function search() {
        $("#current-banner-cont").empty();
        requestParam["page"] = "1";
        requestParam["filter"] = $('#search').val();
        getList();
    }

</script>